# Ignore Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit cache
.streamlit/

# Environment files
.env

# macOS & Windows specific
.DS_Store
Thumbs.db
